$color-scheme: abyssal;
$body-background-color: #0D0D0D;
$body-heading-color: #8db5b4; // Heading
$body-text-color: white;
$link-color: #D99B29;
$nav-child-link-color: #D99B29; // un var
$sidebar-color: #0D0D0D; // Side Bar
$base-button-color: #50686A;
$btn-primary-color: #F2911B;
$code-background-color: #68328c; // Scooby default for syntax-one-dark-vivid
$code-linenumber-color: #dee2f7; // Scooby .nf for syntax-one-dark-vivid
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #50686A;
$search-background-color: darken($table-background-color, 15%);
$search-result-preview-color: #BABF17;
$border-color: #D99B29;

@import "./vendor/Scooby/syntax"; // this is the one-dark-vivid atom syntax theme



//black { color: #0D0D0D; }
//dark brown { color: #BF7417; }
//gold { color: #D99B29; }
//green { color: #859F82; }
//light-green { color: #8db5b4; }
//light-gold { color: #F0BD36; }
//dark-green { color: #50686A; }
//red { color: #BF4C41; }
